*{
 padding: 0;  
 margin: 0;
 box-sizing: border-box;
 }
 body{
   background-color: rgb(239, 241, 237);
      
 }
 h1, h2, h3, h4, h5{
      text-transform: uppercase;
     
     /*home section */ 
 }
 .section__home{
   padding: 100px;
   background-image: url(/digital-water-foto.avif);
 }  
  /* .container__1{ 
    padding: auto;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content:center;
   align-items: center;
   align-content: space-between;
   */
 
 .section__home h1{
  padding: 50px;
  transition: all 0.5s linear;
  font-size: 3em;
 }

 
 .home__left{
  border-radius: 20px 20px 20px 20px;
 }
/* about us */



 .section__about{
   padding: 100px;
   background-color: rgb(211, 250, 227);
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   gap: 35px;
   
 }
 .container__2 h2{
  padding: 200px;
    align-items: center;
    text-align: center;
    align-content: center;
 }
 .section__services{
  display: flex; /* Makes the container a flex container */
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  gap: 10px; /* Adds space between items */
  width: 300px; /* Example: fixed width to force wrapping */
  border: 1px solid #ccc;
  padding: 10px;
      
 }
 .container__5 div{
    width: 300px;
  height: 200px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 15px;
 }
 
 .about_image{
 
 }
 /*}
 .about_text{
  width: 150px;
  height: 75px;
  padding-top: 10px;
  padding-bottom: 30px;
  margin-left: 25px;
  box-sizing: content-box;
  padding: 100px;
 }
 .section__contact{
  
 }*/