*{
 padding: 0;  
 margin: 0;
 box-sizing: border-box;
 }
 body{
   background-color: rgb(239, 241, 237);
      
 }
 h1, h2, h3, h4, h5{
      text-transform: uppercase;
     
     /*home section */ 
 }
 .section__home{
   padding: 100px;
   background-image: url(/digital-water-foto.avif);
 }  
  .container__1{ 
    padding: auto;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content:center;
   align-items: center;
   align-content: space-between;
   
  }
 .section__home h1{
  padding: 50px;
  transition: all 0.5s linear;
  font-size: 3em;
   color: rgb(52, 94, 5);
   align-items: center;
 }

 
 .home__left{
  border-radius: 20px 20px 20px 20px;
 }
/* about us */



 .section__about{
   padding: 100px;
   background-color: rgb(211, 250, 227);
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   gap: 35px;
   
 }
 .container__2 h2{
  padding: 200px;
    align-items: center;
    text-align: center;
    align-content: center;
 }
 .section__services h4{
  padding-top: 20px;
  font-size: 2.2em;
  line-height: 1.5em;
  text-align: center;
  color: rgb(52, 94, 5);
 }
  .container{
    padding: 50px;
    background-color: rgb(211, 250, 227);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  .container div{
    padding: 35px;
    width: 250px;
    height: 150px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 1.1em;
     color: rgb(52, 94, 5);

  }
  .primary{
    margin-top: 15px;
    padding: 10px 20px;
    background-color: rgb(52, 94, 5);
    color: white;
    border: none;
    border-radius: 5px 5px 5px 5px;
    font-size: 1em;
    cursor: pointer;
    align-self: center;
  }
  .primary:hover{
    background-color: rgb(235, 162, 7);
  }
  .section__Testimonials{
    padding: 100px;
  }
  .container__3{
    align-items: center;
    text-align: center;
    align-content: center;
    font-size: 2em;
    color: rgb(52, 94, 5);
    
  }
  .testimonials__cards{
    padding: 50px;
    background-color: rgb(211, 250, 227);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  .testimonials__cards div{
    padding: 35px;
    width: 300px;
    height: 200px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 1.1em;
     color: rgb(52, 94, 5);

  }
  .section__Testimonials h5{
    padding: 10px;
    color: black;
  }
  .section__contact{
    padding: 100px;
    background-color: rgb(211, 250, 227);
    text-align: center;
    align-items: center;
    align-content: center;

  }
  .section__contact p{
    padding: 20px;
    font-size: 1.2em;
   
  }
  .section__contact form{
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .container__4 input{
    padding: 20px;
    margin: 20px;
   
    border: 1px solid rgb(52, 94, 5);
    border-radius: 5px 5px 5px 5px;
    margin-top: 10px;
    margin-bottom: 10px;

  }
  .container__4 input::placeholder{
    color: rgb(52, 94, 5);
    font-size: 1em;
    text-transform: uppercase;
  }
 @media screen and (max-width: 600px){
    body{
      font-size: 14px;
    }
    .container,
    .container__2,
    .container__3,
    .container__4,
      .section__about, .testimonials__cards{
      flex-direction: column;
      width : 100%;
      padding: 10px;


    }
  }
